In [5]:
import pandas as pd
import numpy as np

In [13]:
lable=['a','b','c']
my_list=[10,20,30]
arr=np.array([10,20,40])
d={'a':[10,11,12],'b':20,'c':30,'C':40}

In [14]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [15]:
pd.Series(data=my_list,index=lable)

a    10
b    20
c    30
dtype: int64

In [16]:
pd.Series(my_list,lable)

a    10
b    20
c    30
dtype: int64

In [17]:
pd.Series(data=arr,index=lable)

a    10
b    20
c    40
dtype: int32

In [20]:
pd.Series(d)

a    [10, 11, 12]
b              20
c              30
C              40
dtype: object

In [22]:
ser=pd.Series([sum,print,len])
ser

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [28]:
ser1=pd.Series([1,2,3,4],index=['ussr','Germany','ussr','Japan'])

In [29]:
ser1

ussr       1
Germany    2
ussr       3
Japan      4
dtype: int64

In [30]:
ser2=pd.Series([5,6,7,8],index=['ussr','Germany','India','Japan'])

In [31]:
ser2

ussr       5
Germany    6
India      7
Japan      8
dtype: int64

In [32]:
ser1+ser2

Germany     8.0
India       NaN
Japan      12.0
ussr        6.0
ussr        8.0
dtype: float64

In [33]:
df=pd.DataFrame(np.random.randn(5,4),index=['A','B','C','D','E'], 
                  columns=['W','X','Y','Z'])

In [34]:
df

          W         X         Y         Z
A  1.151175  0.967599 -0.147609 -0.593036
B  0.553230  0.057236 -0.311988 -1.808205
C -0.344171  0.954844 -1.604396  0.100969
D -0.270055 -0.760834  0.295870  0.370313
E  0.964806  2.505089 -0.424111  0.688788

In [45]:
import pandas as pd
arr=np.arange(1,50).reshape(7,7)
df1=pd.DataFrame(data=arr,index=['A','B','C','D','E','F','G'], 
                  columns=['P','Q','R','S','T','U','V'])
df1

    P   Q   R   S   T   U   V
A   1   2   3   4   5   6   7
B   8   9  10  11  12  13  14
C  15  16  17  18  19  20  21
D  22  23  24  25  26  27  28
E  29  30  31  32  33  34  35
F  36  37  38  39  40  41  42
G  43  44  45  46  47  48  49